{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'account'} %}
{% endblock %}

{% block body %}
    <h1>Edit Account</h1>

    {{ include('account/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('account_index') }}">back to list</a>

    {{ include('account/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import lib from '/js/sf_collection.js';
        lib.sfCollection.init();
    </script>
{% endblock %}
