{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit this account{% endtrans %}{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'account'} %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Edit this account{% endtrans %}</h1>

    {{ include('account/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('account_index') }}">
        {% trans %}Go back to the account list{% endtrans %}
    </a>

    {{ include('account/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import lib from '/js/sf_collection.js';
        lib.sfCollection.init();
    </script>
{% endblock %}
