{% extends 'base.html.twig' %}

{% block title %}Edit SubCategoryTransactionRule{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'sub_category_transaction_rule'} %}
{% endblock %}

{% block body %}
    <h1>Edit SubCategoryTransactionRule</h1>

    {{ include('sub_category_transaction_rule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sub_category_transaction_rule_index') }}">back to list</a>

    {{ include('sub_category_transaction_rule/_delete_form.html.twig') }}
{% endblock %}
