{% extends 'base.html.twig' %}

{% block title %}{% trans %}New sub category transaction rule{% endtrans %}{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'sub_category_transaction_rule'} %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Create a new rule{% endtrans %}</h1>

    {{ include('sub_category_transaction_rule/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('sub_category_transaction_rule_index') }}">
        {% trans %}Go back to the rule list{% endtrans %}
    </a>
{% endblock %}
