{% extends 'base.html.twig' %}

{% block title %}Edit SubCategory{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'category'} %}
{% endblock %}

{% block body %}
    <h1>Edit SubCategory</h1>

    {{ include('sub_category/_form.html.twig', {'button_label': 'Save'}) }}

    <a class="btn btn-outline-primary" href="{{ path('category_index') }}">Back to the category list</a>

    {{ include('sub_category/_delete_form.html.twig') }}
{% endblock %}
