{% extends 'base.html.twig' %}

{% block title %}{% trans %}New sub category{% endtrans %}{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'category'} %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Create a new sub category{% endtrans %}</h1>

    {{ include('sub_category/_form.html.twig') }}

    <a type="button" class="btn btn-outline-primary" href="{{ path('category_index') }}">
        {% trans %}Go back to the category list{% endtrans %}
    </a>
{% endblock %}
