{% extends 'base.html.twig' %}

{% block title %}Edit TopCategory{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'top_category'} %}
{% endblock %}

{% block body %}
    <h1>Edit TopCategory</h1>

    {{ include('top_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('top_category_index') }}">back to list</a>

    {{ include('top_category/_delete_form.html.twig') }}
{% endblock %}
