{% extends 'base.html.twig' %}

{% block title %}New TopCategory{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'top_category'} %}
{% endblock %}

{% block body %}
    <h1>Create new TopCategory</h1>

    {{ include('top_category/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('top_category_index') }}">Go back to the top category list</a>
{% endblock %}
