html {
    height:100%
}

body {
    min-height: 100%;
}

body {
    display: flex;
}

#main {
    margin: 2rem;
    flex-grow: 1;
}

#main input, #main select {
    max-width: 40rem;
}

#main > form {
    margin-bottom: 1rem;
}

#main form.delete-button {
    display: inline-block;
}

#main form .collection  > .form-group > input {
    max-width: 30rem;
}

#main form .collection  > .form-group > button {
    margin-left: 1rem;
}

#main form .collection  > .form-group > label {
    display: none;
}

#main form .collection  > .form-group > input,
#main form .collection  > .form-group > button {
    display: inline-block;
}

.navbar-dark.navbar {
    flex-direction: column;
    padding: 2rem 0;
    background-color: #212529 !important;
    align-items: baseline;
}

.navbar-dark.navbar > .version {
    color: white;
    margin-left: 2rem;
    font-style: italic;
}

.navbar-dark > .navbar-nav > .nav-item.active > .nav-link {
    background-color: white;
    color: #007bff;
}

.navbar-dark > .navbar-nav > .nav-item.active:hover > .nav-link {
    color: #007bff;
}

.navbar-dark > .navbar-nav > .nav-item > .nav-link {
    color: white;
    padding: 1.2rem 1rem;
    min-width: 16.5rem;
}

.navbar-dark > .navbar-nav > .nav-item:hover > .nav-link {
    background-color: white;
    color: #007bff;
}

.navbar-dark > .navbar-nav > .nav-item > ul.navbar-nav > li a {
    padding: 1.2rem 1rem 0 2rem;
}

.navbar-dark > .navbar-nav > .nav-item > ul.navbar-nav {
    padding-bottom: 1rem;
}

table {
    margin: 1rem auto;
}

label.required:before {
    content: "* ";
    color: red;
}

#categories {
    display: flex;
    margin: 1rem auto;
}

#categories > .column {
    width: 50%;
}

#categories > .column > ul {
    list-style-type: none;
    padding: 0;
}

#categories > .column div.top-category {
    padding: .75rem 1.25rem;
    font-weight: bold;
    margin-top: 0.75rem;
}

#categories > .column div.top-category span {
    margin-right: 0.5rem;
}

#categories > .column div.sub-category {
    display: flex;
    justify-content: space-between;
}

#categories .list-group {
    padding-left: 1rem;
}

#categories .list-group-item {
    padding: 0.4rem 1.25rem;
}

#categories .list-group-item:last-child {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

form#filter-form {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 1rem 0;
    border-top: 1px solid #dbd8d8;
    padding: 1rem 0;
    border-bottom: 1px solid #dbd8d8;
}

form#filter-form > .form-group > label,
form#filter-form > .form-group > legend {
    font-weight: 500;
}

form#filter-form > span {
    align-self: center;
    margin-left: 1rem;
}

form#filter-form .form-group {
    align-items: center;
    display: flex;
    margin: 0;
}

form#filter-form.large-filter-form .form-group {
    align-items: center;
    display: flex;
}

form#filter-form label {
        margin: 0 1rem 0 0;
}

form#filter-form.large-filter-form fieldset div label {
    min-width: 1.7rem;
}

form#filter-form.large-filter-form > .form-group {
    flex-direction: column;
    align-items: baseline;
    margin: 0 0.8rem 0.8rem 0.8rem;
}

form#filter-form.large-filter-form > .form-group label {
    padding-bottom: calc(.375rem + 1px);
}

form#filter-form.large-filter-form .col-form-label {
    padding-top: 0;
}

.existing-transaction {
    background-color: #f9f5e9;
}

.new-transaction {
    background-color: #dff6fb;
}

.parser-card {
    width: 18rem;
    margin: 1rem;
}

.parser-card .card-img {
    display: flex;
    height: 100px;
}

.parser-card .card-action {
    text-align: center;
}

.parser-card .card-img-top {
    height: 80px;
    width: 230px;
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;
    align-self: center;
}

.parser-card .card-img-top.nbc-credit,
.parser-card .card-img-top.nbc-checking {
    height: 60px;
    width: 170px;
}

.parser-card .card-img-top.n26 {
    height: 60px;
    width: 170px;
}

.parser-card .card-img-top.credit-mutuel {
    height: 100px;
    width: 250px;
}

.parser-card .card-img-top.boursorama {
    height: 60px;
    width: 170px;
}

.parser-card .parser-label {
    font-weight: 500;
}
