#main {
    margin: 5rem 1rem;
}

.navbar-dark.navbar {
    padding: 0 1rem;
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    background-color: white;
    color: #007bff;
}

.navbar-dark .navbar-nav .nav-item.active:hover .nav-link {
    color: #007bff;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding: 0.8rem 1rem;
}

.navbar-dark .navbar-nav .nav-item:hover .nav-link {
    background-color: white;
    color: #007bff;
}

table {
    margin: 20px auto;
}