{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit this tag{% endtrans %}{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'tag'} %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Edit this tag{% endtrans %}</h1>

    {{ include('tag/_form.html.twig', {'button_label': 'Save'}) }}

    <a class="btn btn-outline-primary" href="{{ path('tag_index') }}">
        {% trans %}Go back to the tag list{% endtrans %}
    </a>

    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
