{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit this transaction{% endtrans %}{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'transaction'} %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Edit this transaction{% endtrans %}</h1>

    {{ include('transaction/_form.html.twig', {'button_label': 'Save'}) }}

    <a class="btn btn-outline-primary" href="{{ path('transaction_index') }}">
        {% trans %}Go back to the transaction list{% endtrans %}
    </a>

    {# {{ include('transaction/_delete_form.html.twig') }} #}
{% endblock %}
