{% extends 'base.html.twig' %}

{% block title %}New Transaction{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'transaction'} %}
{% endblock %}

{% block body %}
    <h1>Create new Transaction</h1>

    {{ include('transaction/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('transaction_index') }}">Go back to the transaction list</a>
{% endblock %}
